* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5a2a1;
  min-height: 100vh; 
}

.login-card {
  background-color: #ffcccb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 110px;
  /* border: 2px solid; */
  padding: 20px; 
}

.brand {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: bold;
  color: #333;
  /* border: 2px solid; */
  text-align: center;
  width: 225px;
}

.login-btn {
  margin-top: 7px;
  background-color: #a9d6ff;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #87c5ff;
}

.hidden {
  display: none;
}

/* Toggle Switch */
.toggle-switch {
  position: relative;
  width: 40px;
  height: 20px;
  margin-right: 10px; 
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 20px;
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: #87c5ff;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/* Settings Icon */
#settings-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

#logged-in-options {
  display: flex;
  align-items: center;
  justify-content: center; /* Center items horizontally */
  margin-top: 10px; /* Add margin for spacing */
}

/* Responsive styles */
@media (max-width: 768px) {
  .login-card {
      padding: 25px 30px;
  }
  
  .brand {
      width: 200px;
  }
}

@media (max-width: 480px) {
  .brand {
      font-size: 22px;
      width: 180px;
  }
  
  .login-btn {
      font-size: 14px;
  }
  
  .login-card {
      padding: 20px 25px;
  }
}

#settings-icon{
  height: 32;
  width: 32;
}