.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
  }
  
  .login-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .brand {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .login-btn {
    padding: 10px 20px;
    border: none;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #logged-in-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #settings-icon {
    cursor: pointer;
    height: 24px;
  }
  
  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
  }
  
  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
  }
  
  input:checked + .slider {
    background-color: #4caf50;
  }
  